//此文件需要在main.js 中引入，其他的按需引入到响应的组件中即可

@import "./reset.scss";
@import "./variable.scss";
@import "./mixin.scss";
@import "./tools.scss";


html, body{
  width: 100%;
  height: 100%;
  //overflow: hidden;
  min-width: 1349px;
}
body{
  font-size: 50px;
  font-family: Helvetica,sans-serif,STHeiTi;
}
img{
  vertical-align: bottom;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 25px;
}
